@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff ;
  --foreground: #171717 ;
  --backgroundCard: #f0f0f0 ;
}

.dark {
  --background: #0a0a0a ;
  --foreground: #ededed ;
  --backgroundCard: #171717 ;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff ;
    --foreground: #171717 ;
    --backgroundCard: #f9f9f9 ;
  }
}

body {
  color: var(--foreground) ;
  background: var(--background) ;
  font-family: Arial, Helvetica, sans-serif;
}

.dark .bg-background-card{
  background: var(--backgroundCard) ;
}